@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: white;
}
.stamp{
    background-image: url('../../../public/hero/stamp.svg');
    background-size: cover;
    background-position: center;
}
.nearrivalshape{




    left: 725px;
    top: 1004px;

    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(159, 154, 154, 0.34);
    border-radius: 15px;

    }